<!doctype html>
<html lang="en">

<head>
    <!--Scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<style>
    circle {
        fill: "green";
        stroke: #999;
    }
    svg {
        width: 960px;
        height: 500px;
    }
</style>

<body>

    <svg width="720" height="120"></svg>
    <p>test paragraph</p>

    <!--move this to its own javascript file-->
    <script>
        // Good tutorial
        // https://bost.ocks.org/mike/circles/
    
        var svg = d3.select("svg");
        var circle = svg.selectAll("circle")
            .data([32, 57, 112, 293, 32, 57, 112, 293, 32, 57, 112, 293, 32, 57, 112, 293]);
        var circleEnter = circle.enter().append("circle");

        var palette = d3.scaleOrdinal(d3.schemeCategory10);
        circleEnter.style("fill", palette);

        //circleEnter.style("fill", "steelblue");
        circleEnter.attr("cx", function() { return Math.random() * 720; });
        circleEnter.attr("cy", function() { return Math.random() * 120; });
        // d means data that has been attatched
        circleEnter.attr("r", function(d) { return Math.sqrt(d); });
    </script>

</body>