<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    

  <!--Scripts-->
  <script src="{{ url_for('static', filename='scripts/jquery-3.5.1.js') }}"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>


  <title>{{ title }}</title>
</head>

<body>

{% include 'components/navigation.html' %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">WEBSITE TITLE</h1>
      <p class="lead">This will be the subtitle of the site, it will be cool.</p>
    </div>
  </div>



  <div class="container py-3">

    <h1>Graph</h1>
    <div id="d3_graph"></div>

    <h1>What is this site</h1>
    <p class="h5 paragraph">Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff.  
    </p>

    <h1>Using the API</h1>
    <p class="h5 paragraph">Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
        Here is some text talking about some stuff. 
    </p>

    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



  </div>

  <!-- Optional JavaScript -->
  <!-- Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>