<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    

  <!--Scripts-->
  <script src="scripts/script.js"></script>


  <title>SITE NAME</title>
</head>

<body>

  {% include 'components/navigation.html' %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">INSPIRATIONS</h1>
      <p class="lead">Some sites that I used for inspiration for my site design</p>
    </div>
  </div>



  <div class="container py-3">

    <h1><a href="https://huemor.rocks/">HUEMOR</a></h1>
    <p class="h5 paragraph">The first site I found for inspiration was huemor.rocks. What really stood out to me was the header, and how bold it was. I dont have any artwork as impressive as that so I decided to go 
      for a gradient instead, as its a little less in your face. The part that really sells the header for me though is the curve at the bottom and how the sections under the header (body sections) 
      are also split using curves. It just stands out a bit more from other sites that use rectangles for everything. I also prefer the centered links on the navbar. This would normally indicate that the site 
      is a little more about the experience compared to sites that that have their navbar left aligned which are more targeted towards functionality and finding information (as the user tends to look at the 
      top left first to find links). I think that 
      <br>
      <br>
      <b>Edit:</b> Huemor has since removed the curved header from their homepage. So you might just have to imagine. They're using the same spaceman parallax that was in the curved header, but now its a rectangle which doesnt look as interesting.
    </p>

    <h1><a href="https://1.1.1.1/">1.1.1.1</a></h1>
    <p  class="h5 paragraph">Besides from being an annoying name to enter into your browser, I feel like 1.1.1.1's website is a combination of what I’ve talked about in the previous inspirations. The colour palette that makes use of gradients, and how the site uses curves to differ from other sites. I want to take inspiration from how they have displayed information on their site. the information is not cluttered or cramped on the page, instead all the information is spaced out to allow you to focus each paragraph/feature. As well as how the text is not black, it is a dark purple/blue.
    </p>

    <h1><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></h1>
    <p  class="h5 paragraph">What really strikes me about the download page for Firefox is the colour palette. The dark purple and the orange - red - pink/purple gradients. Its sticking to its set colours which makes the page look consistent, but the gradient also gives the impression of more variety. The page does not have much white space which makes the site look more visually attractive and interesting, which is what it should be doing as it trying to make you download a product. My site is a more analytical, so I am going to increase the amount white space in my site. The user shouldn’t be too distracted by the styling, however I do want to incorporate a similar colour palette. As it appears visually interesting and professional.
    </p>

  
  </div>
</body>

</html>