<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    

  <!--Scripts-->
  <script src="scripts/script.js"></script>


  <title>SITE NAME</title>
</head>

<body>

  {% include 'components/navigation.html' %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-2">INSPIRATIONS</h1>
      <p class="lead">Some sites that I used for inspiration for my site design</p>
    </div>
  </div>



  <div class="container py-3">

    <h1><a href="https://huemor.rocks/">HUEMOR</a></h1>
    <p class="h5 paragraph">The first site I found for inspiration was huemor.rocks. What really stood out to me was the header, and how bold it was. I dont have any artwork as impressive as that so I decided to go 
      for a gradient instead, as its a little less in your face. The part that really sells the header for me though is the curve at the bottom and how the sections under the header (body sections) 
      are also split using curves. It just stands out a bit more from other sites that use rectangles for everything.
    </p>

    <h1><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a></h1>
    <p  class="h5 paragraph">What really strikes me about the download page for Firefox is the colour palette. The dark purple and the orange - red - pink/purple gradients. Its sticking to its set colours which makes the page look consistent, 
      but the gradient also gives the impression of more variety/colourful/new and shiny ________
    </p>

    <h1><a href="https://1.1.1.1/">1.1.1.1</a></h1>
    <p  class="h5 paragraph">Besides from being a really annoying name to enter into your browser, I feel like 1.1.1.1's website a combination of what ive talked about in the previous inspirations. The colour palette that makes use of gradients, 
      and how the site uses curves to differ from other websites ______. But I think using these colour blobs in my site wouldn't suite what the content of my site will be about _______. instead I want to take inspiration from 
      how theyve displayed information on theyre site. the information isnt cluttered or cramped on the page, instead all the information is spaced out to allow you to focus each paragraph/feature. Aswell as how the text isnt 
      black, its a dark purple/blue. 
    </p>



  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>